@import url('https://fonts.xz.style/serve/inter.css');
@import url('https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

* {
    text-align: center;
    padding: 1%;
}

body {
    background-image: url("./images/sky-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 98%;
}

h1 {
    font-family: 'DynaPuff', cursive;
}

a {
    color: black;
}